<navbar>
    <ul>
        <li>
            <a href="{{ path('list_all_drivers') }}">All drivers</a>
            <a href="{{ path('drivers_most_winning_race_in_season') }}">Driver with most winning</a>
            <a href="{{ path('constructors_most_winning_race_in_season') }}">Constructor with most winning</a>
        </li>
    </ul>
</navbar>
