<navbar>
    <ul>
        <li>
            <a href="{{ path('list_all_drivers') }}">All drivers</a>
        </li>
        <li>
            <a href="{{ path('circuit_index') }}">All circuits</a>
        </li>
    </ul>
</navbar>
