{% extends "base.html.twig" %}

{% block title %}Drivers index{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 1%">
        {% for driver in drivers %}
            <p>{{ driver.givenName }} {{ driver.familyName }} </p>
        {% endfor %}
    </div>
{% endblock %}
