{% extends 'base.html.twig' %}

{% block title %}Circuits{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 1%">
        <h1>Circuit</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ circuit.id }}</td>
                </tr>
                <tr>
                    <th>Locality</th>
                    <td>{{ circuit.locality }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ circuit.name }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ circuit.country }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
